# Project 3

## Structured Data

### Project Task:

1. For your database, you should download and install the appropriate version of the Chinook database for your RDBMS, which is available here, under the downloads tab: https://chinookdatabase.codeplex.com/
2. Your task is to create a pandas DataFrame that displays Customers’ Last Name and First Name, and each customer’s purchased Track names and Album Titles. The information should be sorted by Customer LastName then Customer FirstName.

##### Import pandas and sqlite3 to create DataFrame and retrieve data by SQL query:

In [4]:
import  pandas as pd
import sqlite3

##### Create connection string for Chinook sqlite file by utilizing .connect():

In [5]:
con = sqlite3.connect('C:\Data\Chinook\Chinook_Sqlite.sqlite')
tracks = pd.read_sql_query("SELECT * from Track", con=con)

##### Create SQL query to connect five tables and sort by Last Name and First Name:

In [6]:
sql = '''SELECT c.LastName, c.FirstName, t.Name, a.Title
         FROM Customer as c
         LEFT JOIN Invoice as i
         ON c.CustomerId = i.CustomerId
         LEFT JOIN InvoiceLine as il
         ON i.InvoiceId = il.InvoiceId
         LEFT JOIN Track as t
         ON il.TrackId = t.TrackId
         LEFT JOIN Album as a
         ON t.AlbumId = a.AlbumId
         ORDER BY c.LastName, c.FirstName'''

con = sqlite3.connect("C:\Data\Chinook\Chinook_Sqlite.sqlite")
pd.read_sql_query(sql , con=con).head(5)

,LastName,FirstName,Name,Title
0,Almeida,Roberto,Right Next Door to Hell,Use Your Illusion I
1,Almeida,Roberto,In The Evening,In Through The Out Door
2,Almeida,Roberto,Fool In The Rain,In Through The Out Door
3,Almeida,Roberto,Saudade Dos Aviões Da Panair (Conversando No Bar),Minas
4,Almeida,Roberto,Caso Você Queira Saber,Minas

### Final Analysis:

Utilizing SQLite3, the connection string to connect the SQLite database to Python can be accomplished by using .connect(). After joining the Album, Track, InvoicLine, Invoice, and Customer tables by an SQL Query, a pandas DataFrame was created to show the first five track purchases that were sorted by LastName and FirstName. As shown in the table, Robert Almeida has purcahsed Right Next Door to Hell, In the Evening, Fool in the Train, Saudad Dos Aviões Da Panair (Conversando No Bar), and Caso Você Quiera Saber. Additionally, each of these track names are associated with specific album titles as indicated in the SELECT statement. Since there are various methods in retrieving this information through an RDBMS, there might be differences on how the data is sorted and retrieved. In this case, SQLite sorted the names and titles differently than shown in the Project 3 document.